/* VARIABLES
---------------------------------------- */
$body_bg_color: #f4f4f4;
$body_text_color: #a6a6a6;

$content_bg_color: #fff;
$content_font_size: 14px;

$actions_bg_color: #d2ddd2;
$actions_border_color: #c2ccc2;
$actions_border_size: 2px ;

$copyright_color: #839383;

$field_bottom_margin: 15px;

$notice_default_bg: #ccc;
$notice_error_bg: #f2d2e4;

$sidebar_width: 125px;

/* TYPO
---------------------------------------- */

@font-face {
  font-family: VAG;
  src: url('../fonts/vagroundedstd-light-webfont.eot?') format('eot'), url('../fonts/vagroundedstd-light-webfont.woff') format('woff'), url('../fonts/vagroundedstd-light-webfont.svg#webfont8iD52QlC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VAG;
  src: url('../fonts/vagroundedstd-bold-webfont.eot?') format('eot'), url('../fonts/vagroundedstd-bold-webfont.woff') format('woff'), url('../fonts/vagroundedstd-bold-webfont.svg#webfontqSBlTWnG') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1.main_title {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1em;
  font-family:$ui_font_family;
  color: #75de67; }
  
h2.sub_title {
  font-size: 18px;
  padding: 0;
  line-height: 1.4em;
  font-family:$ui_font_family;
  color:#a6a6a6;
  margin-bottom: 15px;
}

/* SNIPPETS
---------------------------------------- */

@mixin auto-lineheight($size) {
  height: $size;
  line-height: $size;
}

@mixin inset($color: #fff) {
  -webkit-text-shadow: 0 1px 1px $color;
  -moz-text-shadow: 0 1px 1px $color;
  -ms-text-shadow: 0 1px 1px $color;
  -o-text-shadow: 0 1px 1px $color;
  text-shadow:  0 1px 1px $color;
}

@mixin inline-list($padding: 0) {
  list-style-type: none;
  &, & li {
    padding: $padding;
    display: inline; } }

@-webkit-keyframes popsup {
  0% {
    opacity: 0;
  }
	30% {
	  -webkit-transform:scale(1.2);
	  opacity: 0.5;
	}
	100% {
	  -webkit-transform:scale(1);
	  opacity: 1;
	}
}

.alpha {
  padding-left: 0  !important;
}
.omega {
  padding-right: 0  !important;
}


/* UTILS
---------------------------------------- */

.clear {
  clear: both;
}
.left {
  float:left;
}
.right {
  float:right;
}
.separator {
  margin: 40px 0 10px;
  border-top: 1px solid #ccc;
  text-align:center;
  width: 82%;
  span {
    position:relative;
    top: -12px;
    background: #fff;
    padding: 5px;
  }
}

/* FORM */

.field {
  margin-bottom: $field_bottom_margin;
}

label {
  display:block;
  margin-bottom: 3px;
  &.inline {
    display:inline;
    margin-left: 4px;
  }
}

input[type="checkbox"] {
  vertical-align: middle;
}

.input {
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 1px solid #D5D4D5;
}

input[type="text"] {
  padding: 0 10px;
  font-weight:normal;
  font-size: 14px;
  font-family: $ui_font_family;
  padding: 4px 10px 0;
}

.input {
  -webkit-box-shadow: 0 1px 1px 0px #ccc inset;
  -moz-box-shadow: 0 1px 1px 0px #ccc inset;
  -ms-box-shadow: 0 1px 1px 0px #ccc inset;
  -o-box-shadow: 0 1px 1px 0px #ccc inset;
  box-shadow: 0 1px 1px 0px #ccc inset;
}

a.button.icon .icon {
  background: url(images/settings-icon.png) no-repeat;
  top: 4px;
}

.toolip {
  display: block;
}

/* FLASH NOTICES */

.notice {
  padding: 15px;
  padding-right: 45px;
  background: $notice_default_bg;
  color: darken($notice_default_bg, 20%);
  @include inset;
  position:relative;
  bottom: 10px; /*Compensate content top border*/
  &.error {
    background: $notice_error_bg url("../images/notices/notice-error-bg.png") no-repeat center right;
    color: darken($notice_error_bg, 20%);
  }
}

/* LAYOUT
---------------------------------------- */

body, html {
  width:100%;
  height: 100%; 
  margin: 0;
  padding: 0;
  background: $body_bg_color;
  color: $body_text_color;
  font-family:$ui_font_family;
}

.main {
  margin: 0;
  display: table;
  width: $column_width;
  margin: 0 auto;
  height: 100%;
  background: $content_bg_color;
  @include linear-gradient($content_bg_color, $body_bg_color); /* This was the only way to get the brown part at the bottom and white on top */ 
}

.inner {
  display: table-cell;
  min-height: 100%;
  vertical-align: middle;
  .content {
    border-top: 10px solid $body_bg_color;
    margin-top: -10px; /* compensate the border as Fred wants is outside the box */
    padding: 30px 10px 0;
    position:relative;
    font-size: $content_font_size;
    background: $content_bg_color;
  }
}

/* CONTENTS
---------------------------------------- */

.big_arrow {
  width: $sidebar_width;
  margin: 0 30px 10px 20px;
}
.block.right {
  /* 485px */
  width: 485px;
  padding: 0 20px 30px 0px;
}

/* FOOTER
---------------------------------------- */

.actions {
  @include inset();
  border-top: $actions_border_size solid $actions_border_color;
  background-color: $actions_bg_color;
  padding: 17px 17px 17px ($sidebar_width + 60) ;
  margin: 0 -10px;
  .button {
    margin-right: 15px;
    &.lightgrey, &.lightgrey:hover {
      border: 1px solid #ccc;
    }
  }
}

.auth_services a {
  margin-right: 10px; 
}
  
.copyright {
  float:right;
  color: $copyright_color;
  padding-top: 5px;
}


/* HOMEPAGE SPECIFIC */

#homepage {
  background-color: #FFF;
  .main {
    background: none;
    width: 100%;}
    
  .top_nav {
    display: table-row;
    .arrow_button {
      margin-right: 10px;
      position: relative;
      top: 2px;
      left: -2px;
    }
    .inner_nav {
      display: table-cell;
      padding: 6px; }
    .right {
      padding-top: 4px;}
    ul {
      font-size: 14px;
      @include inline-list(5px); }
  }
  
  .inner {
    display: table-row;
  }
  
  .content {    
    display: table-cell;
    background: #fff url("../images/homepage/bg-homepage.jpg") no-repeat center 40%;    
    vertical-align: middle;
    text-align:center;
    border: none;
    padding: 0;
    h1 {
      font-size: 45.99px; 
      margin-bottom: 6px;}
    h2 {
      margin-bottom: 160px;
      font-weight:normal; }
      
    .button.page_new {
      float:none;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 18px;
      @include auto-lineheight(44px);
      -webkit-box-sizing: content-box; /* This allows vertical centering text */
      -moz-box-sizing: content-box; /* This allows vertical centering text */
      @include linear-gradient(#7ce781, #72d751);
      border: 5px solid #edeced;
      font-weight:bold;
      padding: 0 30px;
      -webkit-animation:popsup 1s ;
    }
      
    .quote_line {
      font-size: 16px;
      font-family: Georgia;
      color:#cdcdcd;
      margin: 0 0 125px 0;
      display:block;
      text-align:center;
      span {
        font-size: 13px;
        display:block;
        font-family: $ui_font_family; }}
  }
  .features {
    $project_width: 264px;
    $project_padding: 20px;
    $projects_wrapper_width: ($project_width * 4) - ($project_padding * 2);
    display: table;
    background: #fff;
    width: $projects_wrapper_width;
    margin: 0 auto 30px;
    
    .feature {
      font-family: $ui_font_family;
      display: table-cell;
      width: $project_width;
      font-size: 13px;
      padding: $project_padding;
      .feature_icon {
        float: right;
        margin:0 0 20px 20px;
        width: 50px;
        height: 50px;
        background:transparent url("../images/icons/feature-sprite.png")  no-repeat;
        &.user {
          background-position: top center;}
        &.gear {
          background-position: center center;}
        &.dropbox {
          background-position: bottom center;}
      }
      h3 {
        font-family: $ui_font_family;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
  .carousel_wrapper {
    background: #333;
    height: 141px;
    overflow:hidden;
    display: table-row;
    
    .carousel_inner {
      display: table-cell; 
      width: 29000px;
      height: 141px;
      position:absolute;
      
      .project {
        float: left;
        -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .2s ease-in;
        .description {
          display:none;
          font-weight:bold;
          text-align:center;
          font-size: 12px;
          .counters {
            font-weight:normal;
            span.views {
            margin-right: 15px;
            padding-left: 20px;
            background: transparent url("../images/icons/eye-icon.png") no-repeat 1px 1px;}}}
        &:hover {
          background: #fff;
          padding: 10px;
          position:relative;
          top: -64px;
          -webkit-transform:scale(1.2);
          -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.8)));
        	
          img {  
            -webkit-box-reflect: none; }
          .description {
            display:block; }
        }
      }
      img {  
        height: 90px;
        -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.4)));
      }    
    }
    
  }
}

