//------------------------------------------------------------------------------------------------
// LIBRARY
//------------------------------------------------------------------------------------------------

@import 'bourbon';

@mixin text-shadow($color: #FFF, $voffset: 1px) {
  $value: 0 $voffset 0 $color;
  @if $color == 'none' {
    $value: none;
  }
  -moz-text-shadow: $value;
  -webkit-text-shadow: $value;
  -o-text-shadow: $value;
  text-shadow: $value;
}

@mixin text-shadow-dark {
  @include text-shadow(rgba(0,0,0,0.4), -1px);
}

@mixin unselectable() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin button-shadow() {
  @include box-shadow(0 1px 0 rgba(255,255,255,0.5))
}

@mixin greybar-gradient-background() {
  background-color: $topbar_grey_mediumcolor;
  @include linear-gradient($topbar_grey_lightcolor, $topbar_grey_darkcolor);
}




//------------------------------------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------------------------------------

$serif_font_family: Georgia, serif;
$sans_font_family: Arial, sans-serif;
$ui_font_family: VAG, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$ui_font_size_normal: 15px;
$ui_font_size_small: 13px;
$ui_font_size_xsmall: 11px;

$div_bgcolor: rgba(255, 255, 255, 0.1);

$topbar_height: 40px;

$column_width: 680px;
$block_width: 640px;

$footer_height: 98px;
$footer_margin_top: 40px;

$border_radius_small: 0px;//2
$border_radius_medium: 0px;//5

$letter_spacing_narrow: -0.05em;

$bordercolor: #D5D4D5;
$bordercolor_dark: #9B9B9B;

$input_bgcolor: #FFFFD3;
$input_color: #999;
$input_color_light: #C5C6B3;
$input_error_bgcolor: #F9CEE6;
$input_error_color: #FC6B9F;

$topbar_grey_darkcolor: #E1E0E1;
$topbar_grey_mediumcolor: #E7E6E7;
$topbar_grey_lightcolor: #EEEDEE;

$button_grey_bordercolor: #868686;
$button_grey_darkcolor: #868686;
$button_grey_mediumcolor: #999;
$button_grey_lightcolor: #ABABAB;

$button_lightgrey_bordercolor: #DFDFDF;
$button_lightgrey_darkcolor: #DFDFDF;
$button_lightgrey_mediumcolor: #E6E6E6;
$button_lightgrey_lightcolor: #ECECEC;

$button_disabled_bordercolor: #ADADAD;
$button_disabled_darkcolor: #ADADAD;
$button_disabled_mediumcolor: #BFBFBF;
$button_disabled_lightcolor: #D5D5D5;

$button_green_bordercolor: #00CF4B;
$button_green_darkcolor: #00CF4B;
$button_green_mediumcolor: #00D963;
$button_green_lightcolor: #00E279;

$button_twitter_bordercolor: #018FC5;
$button_twitter_darkcolor: #018FC5;
$button_twitter_mediumcolor: #02ABD6;
$button_twitter_lightcolor: #05BFE0;

$button_facebook_bordercolor: #203591;
$button_facebook_darkcolor: #203591;
$button_facebook_mediumcolor: #334FAB;
$button_facebook_lightcolor: #5673C0;

$button_google_bordercolor: #CF3023;
$button_google_darkcolor: #CF3023;
$button_google_mediumcolor: #DC4937;
$button_google_lightcolor: #E56D5B;

$light_grey: #EDECED;
$textcolor_grey: #868686;
$textcolor_grey_hover: #666;
$titlecolor_grey: #9B9B9B;

$popup_bgcolor: #FFF;

$tooltip_tip_size: 6px;
$tooltip_background_color: rgba(0, 0, 0, 0.75);




//------------------------------------------------------------------------------------------------
// FONTS
//------------------------------------------------------------------------------------------------

@font-face {
  font-family: VAG;
  src: url('/fonts/vagroundedstd-light-webfont.eot?') format('eot'), url('/fonts/vagroundedstd-light-webfont.woff') format('woff'), url('/fonts/vagroundedstd-light-webfont.svg#webfont8iD52QlC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VAG;
  src: url('/fonts/vagroundedstd-bold-webfont.eot?') format('eot'), url('/fonts/vagroundedstd-bold-webfont.woff') format('woff'), url('/fonts/vagroundedstd-bold-webfont.svg#webfontqSBlTWnG') format('svg');
  font-weight: bold;
  font-style: normal;
}




//------------------------------------------------------------------------------------------------
// GLOBAL
//------------------------------------------------------------------------------------------------

.mac.webkit * {
  -webkit-font-smoothing: antialiased
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  font: 16px/22px $serif_font_family;
  background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}




//------------------------------------------------------------------------------------------------
// INPUTS
//------------------------------------------------------------------------------------------------

.input {
  position: relative;
  @include box-sizing(border-box);
  font-family: $sans_font_family;
  font-weight: bold;
  color: $input_color_light;
  background: $input_bgcolor;
  input[type=text], textarea {
    @include box-sizing(border-box);
    outline: none;
    background: none;
    border: none;
    @include box-shadow(inset 0 2px 0 rgba(0,0,0,0.07));
    font-family: $sans_font_family;
    font-weight: bold;
    letter-spacing: $letter_spacing_narrow;
    @include text-shadow;
    color: $input_color;
    padding: 5px;
  }
  .info, .controls {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .info {
    display: none;
    z-index: 1;
    letter-spacing: $letter_spacing_narrow;
    @include text-shadow;
  }
  .controls {
    right: 0;
    z-index: 4;
  }
  &.error {
    color: $input_error_color;
    background: $input_error_bgcolor;
    input[type=text], textarea {
      color: $input_error_color;
    }
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $input_color;
}
input:-moz-placeholder, textarea::-moz-placeholder {
  color: $input_color;
}
.error input::-webkit-input-placeholder, .error textarea::-webkit-input-placeholder {
  color: $input_error_color;
}
.error input::-moz-placeholder, .error textarea::-moz-placeholder {
  color: $input_error_color;
}




//------------------------------------------------------------------------------------------------
// TOOLTIP
//------------------------------------------------------------------------------------------------

.tooltip {
  opacity: 0;
  @include transition (opacity, 0.2s, ease-in, 0.4s);
  position: absolute;
  top: 0;
  z-index: 10000;
  padding: 6px 9px 3px;
  font: $ui_font_size_small $ui_font_family;
  text-align: center;
  @include text-shadow-dark;
  color: #FFF;
  background: $tooltip_background_color;
  @include border-radius($border_radius_small);
  &.visible {
    opacity: 1;
    @include transition (opacity, 0.1s, ease-out, 0.5s);
  }
  &.left {
    margin-left: $tooltip_tip_size;
  }
  &.right {
    margin-right: $tooltip_tip_size;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -$tooltip_tip_size;
    top: auto;
    bottom: -$tooltip_tip_size;
    border-width: $tooltip_tip_size $tooltip_tip_size 0;
    border-style: solid;
    border-color: $tooltip_background_color transparent;
    // reduce the damage in FF3.0
    display: block; 
    width: 0;
  }
  &.top:after {
    top: -$tooltip_tip_size;
    bottom: auto;
    border-width: 0 $tooltip_tip_size $tooltip_tip_size;
  }
  &.left:after {
    top: 50%;
    margin-top: -$tooltip_tip_size;
    left: -$tooltip_tip_size;
    margin-left: 0;
    bottom: auto;
    border-width: $tooltip_tip_size $tooltip_tip_size $tooltip_tip_size 0;
    border-color: transparent $tooltip_background_color;
  }
  &.right:after {
    top: 50%;
    margin-top: -$tooltip_tip_size;
    right: -$tooltip_tip_size;
    bottom: auto;
    left: auto;
    border-width: $tooltip_tip_size 0 $tooltip_tip_size $tooltip_tip_size;
    border-color: transparent $tooltip_background_color;
  }
}




//------------------------------------------------------------------------------------------------
// BUTTONS
//------------------------------------------------------------------------------------------------

@mixin color-button($lightcolor, $mediumcolor, $darkcolor, $bordercolor, $color:#FFF, $text_shadow_type:dark) {
  color: $color;
  @if $text_shadow_type == dark {
    @include text-shadow-dark;
  } @else if $text_shadow_type == light {
    @include text-shadow;
  }
  border-color: $bordercolor;
  background: $mediumcolor;
  @include linear-gradient($lightcolor, $darkcolor);
  &:hover, &.hover {
    $darken_amount: 2;
    border-color: darken($bordercolor, $darken_amount);
    background: darken($mediumcolor, $darken_amount);
    @include linear-gradient(darken($lightcolor, $darken_amount), darken($darkcolor, $darken_amount));
  }
  &:active, &.active {
    $darken_amount: 2;
    $bgcolor: darken($mediumcolor, $darken_amount);
    border-color: $bgcolor;
    background: $bgcolor;
  }
}

a.button {
  display: block;
  @include box-sizing(border-box);
  position: relative;
  float: left;
  height: 28px;
  padding: 0 10px;
  border: 1px solid $button_grey_bordercolor;
  @include border-radius($border_radius_small);
  font: $ui_font_size_normal $ui_font_family;
  line-height: 28px;
  text-decoration: none;
  @include text-shadow(rgba(0,0,0,0.4), -1px);
  color: #FFF;
  background: $button_grey_mediumcolor;
  @include linear-gradient($button_grey_lightcolor, $button_grey_darkcolor);
  @include unselectable;
  &:hover, &.hover {
    $darken_amount: 2;
    border-color: darken($button_grey_bordercolor, $darken_amount);
    background: darken($button_grey_mediumcolor, $darken_amount);
    @include linear-gradient(darken($button_grey_lightcolor, $darken_amount), darken($button_grey_darkcolor, $darken_amount));
  }
  &:active, &.active {
    $darken_amount: 2;
    $bgcolor: darken($button_grey_mediumcolor, $darken_amount);
    border-color: $bgcolor;
    background: $bgcolor;
  }
  &.icon {
    width: 28px;
    &.settings {
      .icon {
        background: url(/images/settings-icon.png) no-repeat;
        top: 4px;
      }
    }
    &.appearance {
      .icon {
        background: url(/images/appearance-icon.png) no-repeat;
        height: 26px;
        top: 12px;
        left: 0px;
      }
    }
  }
  &.green {
    @include color-button($button_green_lightcolor, $button_green_mediumcolor, $button_green_darkcolor, $button_green_bordercolor);
  }
  &.lightgrey {
    @include color-button($button_lightgrey_lightcolor, $button_lightgrey_mediumcolor, $button_lightgrey_darkcolor, $button_lightgrey_bordercolor, $textcolor_grey, light);
  }
  &.twitter {
    @include color-button($button_twitter_lightcolor, $button_twitter_mediumcolor, $button_twitter_darkcolor, $button_twitter_bordercolor);
  }
  &.facebook {
    @include color-button($button_facebook_lightcolor, $button_facebook_mediumcolor, $button_facebook_darkcolor, $button_facebook_bordercolor);
  }
  &.google {
    @include color-button($button_google_lightcolor, $button_google_mediumcolor, $button_google_darkcolor, $button_google_bordercolor);
  }
  &.disabled, &.disabled:hover, &.disabled:active {
    cursor: default;
    color: #FFF;
    @include text-shadow-dark;
    border-color: $button_disabled_bordercolor;
    background: $button_disabled_mediumcolor;
  }
  .icon {
    @include inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    left: -7px;
    margin-top: -7px;
    margin-right: -2px;
    img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  .small-arrow {
    @include inline-block;
    position: relative;
    top: -2px;
    left: 4px;
    margin-right: 4px;
    width: 7px;
    height: 5px;
    background: url(/images/arrow-down-small.png) no-repeat;
  }
}




//------------------------------------------------------------------------------------------------
// TOPBAR
//------------------------------------------------------------------------------------------------

#topbar {
  height: $topbar_height;
  position: absolute;
  z-index: 1;
  width: 100%;
  .inner {
    height: 100%;
    > .left, > .right {
      margin: 0;
      list-style: none;
      > li {
        float: left;
        margin-top: 6px;
      }
    }
    > .left, > .right, > .center {
      position: absolute;
      top: 0;
      height: 100%;
    }
    > .left {
      z-index: 1;
      left: 0;
      padding-left: 6px;
      > li {
        margin-right: 6px;
      }
    }
    > .right {
      z-index: 1;
      right: 0;
      padding-right: 6px;
      > li {
        float: right;
        margin-left: 6px;
      }
    }
    > .center {
      left: 0;
      height: 100%;
      width: 100%;
      .center-outer {
        float: left;
        position: relative;
        left: 50%;
        .center-inner {
          float: left;
          position: relative;
          left: -50%;
        }
      }
    }
  }
}

.edit #topbar {
  position: fixed;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  .inner {
    @include greybar-gradient-background();
  }
  .button {
    @include button-shadow;
    &.icon {
      @include box-shadow(none);
    }
    &.disabled {
      @include box-shadow(none)
    }
  }
}

.popupbutton {
  position: relative;
  &.open {
    z-index: 1;
    > .button, > .button:hover {
      z-index: 1;
      @include box-shadow(none !important);
      background: #FFF;
      @include linear-gradient(#A4A4A4, #D5D4D5);
      border: none;
      padding: 1px 11px;
    }
    .popup {
      display: block;
    }
  }
  &.right {
    .popup {
      right: 0;
    }
  }
}

.popup {
  display: none;
  @include box-sizing(border-box);
  position: absolute;
  border: 2px solid #D5D4D5;
  text-align: left;
  font: $ui_font_size_normal $ui_font_family;
  color: $textcolor_grey;
  background: $popup_bgcolor;
  top: 26px;
  @include box-shadow(0 0 30px rgba(0,0,0,0.2));
  @include border-radius($border_radius_medium);
  > p {
    margin-bottom: 13px;
  }
  > ul.hlist, > ul.vlist {
    list-style: none;
    margin: 2px;
  }
  > ul.hlist {
    display: inline-block;
    li {
      float: left;
      margin-left: 5px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  > ul.vlist {
    li {
      .button {
        float: none;
        width: 100%;
        height: 24px;
        line-height: 23px;
        background: transparent;
        border: none;
        color: $textcolor_grey;
        @include text-shadow(none);
        &:hover, &.hover {
          color: #FFF;
          @include text-shadow(rgba(0,0,0,0.4), -1px);
          border-top: 1px solid $button_green_bordercolor;
          line-height: 22px;
          background: $button_green_mediumcolor;
          @include linear-gradient($button_green_lightcolor, $button_green_darkcolor);
        }
        &:active, &.active {
          $darken_amount: 2;
          $bgcolor: darken($button_green_mediumcolor, $darken_amount);
          border-color: $bgcolor;
          background: $bgcolor;
        }
      }
    }
  }
  header {
    position: relative;
    @include box-sizing(border-box);
    height: 50px;
    @include unselectable;
    @include greybar-gradient-background();
    h1 {
      height: 100%;
      width: 100%;
      text-align: center;
      color: $titlecolor_grey;
      font: bold 24px/52px $ui_font_family;
      letter-spacing: 0.03em;
      @include text-shadow;
    }
    a.close {
      position: absolute;
      top: 14px;
      right: 14px;
      width: 24px;
      height: 24px;
      background-image: url(/images/popup-close.png);
    }
  }
  fieldset {
    border: 1px solid $bordercolor;
    margin: 20px;
    legend {
      @include unselectable;
      margin-left: 10px;
      padding: 0 5px;
      font-size: $ui_font_size_small;
    }
    > div {
      margin: 8px 15px 15px;
    }
    ul.tilelist {
      margin-bottom: 13px;
    }
    .input {
      height: 34px;
      border: 1px solid $bordercolor;
      background: #FFF;
      .controls {
        line-height: 34px;
        padding: 2px 2px; 
      }
      input[type=text] {
        height: 100%;
        width: 100%;
        @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.07));
      }
    }
  }
  .hr {
    width: 220px;
    height: 1px;
    margin: 14px auto 20px;
    border-bottom: 1px solid $bordercolor;
    span {
      position: relative;
      top: -8px;
      padding: 0 7px;
      line-height: 0;
      background: $popup_bgcolor;
    }
  }
}

@mixin icon-position($posY) {
  & {
    .icon {
      background-position: 3px $posY;
    }
    .button:hover .icon, .button.hover .icon {
      background-position: -27px $posY;
    }
  }
}
  
#profile .popup {
  min-width: 170px;
  li .icon {
    background: url(/images/menu-icons.png)  3px 3px no-repeat;
  }
  .new-page {
    @include icon-position(3px);
  }
  .profile {
    @include icon-position(-21px);
  }
  .account-settings {
    @include icon-position(-46px);
  }
  .sign-out {
    @include icon-position(-70px);
  }
}

#publish .popup {
  min-width: 264px;
  text-align: center;
  padding: 16px 0 0;
  > .button {
    display: inline-block;
    float: none;
    margin-bottom: 7px;
  }
  footer {
    border-top: 1px solid $bordercolor;
    background: $light_grey;
    height: 30px;
    margin-top: 13px;
    padding: 0 10px;
    line-height: 32px;
    text-align: left;
    font-size: $ui_font_size_small;
    @include text-shadow;
    > a {
      margin-right: 0.6em;
      text-decoration: none;
      border-bottom: 1px dotted $textcolor_grey;
      &:hover {
        border-bottom-style: solid;
      }
    }
  }
}

#signin .popup {
  min-width: 264px;
  text-align: center;
  padding: 16px 0 10px;
}

.modal-overlay {
  position: fixed;
  display: none;
  &.active {
    display: table;
  }
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  .inner {
    display: table-cell;
    vertical-align:middle;
  }
}

.modal {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  margin: 0 auto;
}

ul.tilelist {
  margin: 0;
  list-style: none;
  li {
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
    a {
      @include box-sizing(border-box);
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: $ui_font_size_xsmall;
      border: 1px solid $bordercolor;
      &:hover {
        color: $textcolor_grey_hover;
        $darken_amount: 15;
        border-color: darken($bordercolor, $darken_amount);
      }
    }
  }
  &.row-5 li:nth-child(5n) {
    margin-right: 0;
  }
}

#settings, #appearance {
  .popup {
    width: 388px;
  }
}

#drop-zone {
  background: rgba(255,255,255,0.85);
  text-align: center;
  font-family: $ui_font_family;
  font-size: $ui_font_size_small;
  color: $textcolor_grey;
  @include text-shadow;
  header h1 {
    font-family: $ui_font_family;
    font-weight: bold;
    font-size: 32px;
    color: $titlecolor_grey;
    margin-bottom: 6px;
  }
  p {
  }
}




//------------------------------------------------------------------------------------------------
// NOTIFICATION
//------------------------------------------------------------------------------------------------

.notification {
  padding: 0 10px;
  margin-top: 6px;
  font: $ui_font_size_normal $ui_font_family;
  @include text-shadow(rgba(255,255,255,0.5));
  background: #FFFF9A;
  height: 28px;
  > p {
    line-height: 30px;
    @include border-radius($border_radius_small);
    a {
      margin-left: 0.3em;
    }
  }
}




//------------------------------------------------------------------------------------------------
// MAIN CONTAINER
//------------------------------------------------------------------------------------------------

#main {
  position: relative;
  @include box-sizing(border-box);
  z-index: 0;
  width: 100%;
  min-height: 100%;
  top: 0;
  background: #FFF;
  > .inner {
    padding-top: 50px;
    padding-bottom: $footer_height + $footer_margin_top;
  }
}

.edit #main {
  > .inner {
    padding-top: 90px;
    padding-bottom: 50px
  }
}




//------------------------------------------------------------------------------------------------
// BLOCKS
//------------------------------------------------------------------------------------------------

.blocks {
  position: relative;
  @include box-sizing(border-box);
  padding: 10px 10px 10px 10px;
  width: $column_width;
  margin: 0 auto;
  background: #FFF;
  @include border-radius($border_radius_small);
}

.block {
  position: relative;
  @include box-sizing(border-box);
  margin-top: 1px;
  &:first-child {
    margin-top: 0;
  }
  > .inner {
    
  }
  .view {
    display: block;
    padding: 9px 9px 9px 9px;
    color: #000;
    h1 {
      font-size: 40px;
      padding: 11px 0 7px;
    }
    h2 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 8px;
    }
    p {
      
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: $block_width;
    }
    object, embed {
      display: block;
    }
  }
  .edit {
    position: relative;
    display: none;
    .input {
      height: 48px;
      font-size: 24px;
      input[type=text], textarea {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 10px;
      }
      .info, .controls {
        @include unselectable;
        line-height: 48px;
        padding: 0 10px;
      }
      .controls .button {
        margin-top: 10px;
        @include button-shadow;
      }
      .info {
        @include box-sizing(border-box);
        width: 100%;
        p {
          float: left;
        }
        .icon {
          float: right;
        }
        .loading-spinner {
          width: 32px;
          height: 32px;
          margin-top: 8px;
          background: url(/images/input-loading-spinner.gif) no-repeat;
        }
        .cancel {
          cursor: pointer;
          width: 28px;
          height: 28px;
          margin-top: 10px;
          background: url(/images/input-error-cross.png) no-repeat;
        }
      }
      .progress-bar {
        display: none;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100%;
        width: 34%;
        background: #ABAC97;
        @include linear-gradient(#BEBFAB, #95967F);
      }
      &.error {
        input[type=text], textarea {
          display: none;
        }
        .info {
          display: block;
        }
      }
      &.loading {
        input[type=text], textarea {
          display: none;
        }
        .info {
          display: block;
        }
        &.progress {
          .progress-bar {
            display: block;
          }
          .info {
            p {
              float: right;
            }
          }
        }
      }
    }
  }
  &.editing .view {
    display: none;
  }
  &.editing .edit {
    display: block;
  }
}

.edit .block {
  border: 1px solid $bordercolor;
  &.editing:hover {
    border-color: $bordercolor;
  }
  &:hover {
    border-color: $bordercolor_dark;
  }
}




//------------------------------------------------------------------------------------------------
// ADD PANEL
//------------------------------------------------------------------------------------------------

.add-panel {
  position: relative;
  z-index: 3;
  @include box-shadow(inset 0 2px 0 rgba(0,0,0,0.1));
  margin-top: 10px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  height: 202px;
  background: $light_grey;
  .inner {
    padding: 44px 0  0 45px;
  }
  ul.big {
    margin: 0;
    list-style: none;
    > li {
      position: relative;
      width: 90px;
      float: left;
      margin-left: 30px;
      text-align: center;
      font: bold 18px $ui_font_family;
      color: $titlecolor_grey;
      @include text-shadow;
      @include unselectable;
      &:first-child {
        margin-left: 0;
      }
      > .button {
        @include border-radius($border_radius_medium);
        @include button-shadow;
        width: 100%;
        height: 90px;
        text-indent: -9999px;
        overflow: hidden;
        margin-bottom: 9px;
        padding: 0;
        .big-icon {
          display: block;
          width: 100%;
          height: 100%;
        }
        .medium-arrow {
          display: block;
          position: absolute;
          right: 6px;
          bottom: 6px;
          width: 11px;
          height: 7px;
          background: url(/images/arrow-down-medium.png) no-repeat;
        }
      }
      > span {
        cursor: pointer;
      }
      &.text .big-icon {
        background: url(/images/add-button-text.png) no-repeat;
      }
      &.photo .big-icon {
        background: url(/images/add-button-image.png) no-repeat;
      }
      &.video .big-icon {
        background: url(/images/add-button-video.png) no-repeat;
      }
      &.link .big-icon {
        background: url(/images/add-button-link.png) no-repeat;
      }
      &.app .big-icon {
        background: url(/images/add-button-app.png) no-repeat;
      }
    }
  }
  .popup {
    display: none;
    top: 94px;
    left: -12px;
    min-width: 120px;
  }
  li.open .popup {
    display: block;
  }
}




//------------------------------------------------------------------------------------------------
// FOOTER
//------------------------------------------------------------------------------------------------

body > footer {
  position: relative;
  @include box-sizing(border-box);
  padding: 10px 10px 0 10px;
  width: $column_width;
  height: $footer_height;
  overflow: hidden;
  clear: both;
  margin: -$footer_height auto 0;
  background: #FFF;
  @include border-radius($border_radius_small);
  .info {
    a {
      text-decoration: none;
    }
    img {
      float: left;
      width: 48px;
      height: 48px;
    }
    > div {
      float: left;
      margin-left: 10px;
      margin-top: 4px;
      font: 13px $sans_font_family;
      h4 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 3px;
      }
      $color: #000;
      p {
        clear: both;
        > span, > a {
          opacity: 0.5;
        }
        > a {
          margin-left: 6px;
          &:hover {
            opacity: 1;
          }
        }
      }
      svg {
        @include inline-block;
        position: relative;
        .shape {
          
        }
      }
    }
  }
  nav {
    position: absolute;
    @include box-sizing(border-box);
    bottom: 0;
    left: 0;
    padding: 0 10px;
    height: 30px;
    width: 100%;
    @include greybar-gradient-background();
    font-family: $ui_font_family;
    font-size: $ui_font_size_normal;
    color: $textcolor_grey;
    @include text-shadow;
    > ul {
      list-style: none;
      > li {
        line-height: 32px;
        float: left;
        margin-right: 10px;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: $textcolor_grey_hover;
          }
        }
      }
    }
    > p {
      float: right;
      line-height: 32px;
    }
  }
}




//------------------------------------------------------------------------------------------------
// LOGO
//------------------------------------------------------------------------------------------------

.logo-small {
  @include inline-block;
  position: relative;
  width: 63px;
  height: 13px;
  top: 1px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/images/logo-small.png) no-repeat;
  &:hover {
    background-position: 0 -20px;
  }
}




//------------------------------------------------------------------------------------------------
// THEME
//------------------------------------------------------------------------------------------------

$background_color: #F4F4F4;
$blocks_background_color: #FFF;
$color: #333;

#main {
  background: $background_color;
}

.blocks {
  background: $blocks_background_color;
}

.block {
  .view {
    h1, h2, h3, h4, p {
      color: $color;
    }
  }
}

footer {
  background: $blocks_background_color;
  .info {
    h4, p {
      color: $color;
    }
    svg .shape {
      fill: $color;
    }
  }
}


@import "extended_styles";
