@import 'bourbon';
@import "static_copy";

.modal-overlay {
  position: fixed;
  display: block;
  &.active {
    display: table;
  }
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  .inner {
    display: table-cell;
    vertical-align:middle;
  }
}

.modal {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  margin: 0 auto;
}

ul.tilelist {
  margin: 0;
  list-style: none;
  li {
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
    a {
      @include box-sizing(border-box);
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: $ui_font_size_xsmall;
      border: 1px solid $bordercolor;
      &:hover {
        color: $textcolor_grey_hover;
        $darken_amount: 15;
        border-color: darken($bordercolor, $darken_amount);
      }
    }
  }
  &.row-5 li:nth-child(5n) {
    margin-right: 0;
  }
}

#settings, #appearance {
  .popup {
    width: 388px;
  }
}


/* BORIS STYLES */

.borderless {
  border: none!important;
}
.close {
  font-size: 45px;
  color: #ccc;
  display:block;
  text-decoration:none;
  height: auto;
  top: -3px !important;
}

.inner_modal {
  padding: 20px;
  text-align:center;
  font-size: 14px;
  color:#b6b6b6;
  position:relative;
  &.align_left {
    text-align:left;
  }
  
  h2 {
    font-size: 32px;
    font-family: $ui_font_family;
    &.crossing_title {
      font-size: 14px;
      background-color:#FFF;
      position: relative;
      font-weight:normal;
      top: -28px;
      left: -5px; /*compensate the padding*/
      padding: 0 5px;
      display:inline;
    }
  }
  
  p {
    margin-bottom: 15px; }
    
  header {
    background: none; }
  .modal_content { 
    border: 1px solid #e1e1e1;
    padding: 20px;
    &.top_block {
      margin-bottom: 20px; }}
  .stats {
    font-size: 37px;
    margin-bottom: 20px;
    .column {
      float:left;
      margin: auto;
      @include linear-gradient(#7ce782, #71d74f);
      @include text-shadow(rgba(0,0,0,0.4), -1px);
      color:#fff;
      font-weight:bold;
      width: 108px;
      border: 1px solid #71d74f;
      padding: 10px 0;
      &.alpha {
        margin: 0 7px 0 0;}
      &.omega {
        margin: 0 0 0 7px;}
    }
    span {
      display:block; }
    .stat_label {
      font-size: 14px;
    }
  }
}

.inner_modal.likethis {
  .modal_content {
    padding: 0;
  }
  h2 {
    font-size: 18px  !important;
    margin-bottom: 16px;
  }
  .field {
    color:#cfcfcf;
    .clear {
      margin-bottom: 5px;
    }
    span {
      padding-left: 10px;
    }
    .inline_action {
      padding: 5px 0 0 63px;
      label {
        color:#999;
      }
    }
  }
  .post_on {
    &.twitter {
      color:#769bb0;
    }
    &.facebook {
      color:#313b6b;
    }
  }
}


.addthis_toolbox {
  margin-bottom: 15px;
  a {
    margin-right: 12px;
  }
}
