@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@font-face {
  font-family: VAG;
  src: url("/fonts/vagroundedstd-light-webfont.eot?") format("eot"), url("/fonts/vagroundedstd-light-webfont.woff") format("woff"), url("/fonts/vagroundedstd-light-webfont.svg#webfont8iD52QlC") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: VAG;
  src: url("/fonts/vagroundedstd-bold-webfont.eot?") format("eot"), url("/fonts/vagroundedstd-bold-webfont.woff") format("woff"), url("/fonts/vagroundedstd-bold-webfont.svg#webfontqSBlTWnG") format("svg");
  font-weight: bold;
  font-style: normal; }

.mac.webkit * {
  -webkit-font-smoothing: antialiased; }

html {
  overflow-y: auto;
  overflow-x: hidden; }

html, body {
  height: 100%; }

body {
  font: 16px/22px Georgia, serif;
  background: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline; }
  a:hover {
    color: inherit; }

.input {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #c5c6b3;
  background: #ffffd3; }
  .input input[type=text], .input textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.07);
    -ms-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.07);
    -o-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 white;
    -o-text-shadow: 0 1px 0 white;
    text-shadow: 0 1px 0 white;
    color: #999999;
    padding: 5px; }
  .input .info, .input .controls {
    position: absolute;
    top: 0;
    height: 100%; }
  .input .info {
    display: none;
    z-index: 1;
    letter-spacing: -0.05em;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 white;
    -o-text-shadow: 0 1px 0 white;
    text-shadow: 0 1px 0 white; }
  .input .controls {
    right: 0;
    z-index: 4; }
  .input.error {
    color: #fc6b9f;
    background: #f9cee6; }
    .input.error input[type=text], .input.error textarea {
      color: #fc6b9f; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder, textarea::-moz-placeholder {
  color: #999999; }

.error input::-webkit-input-placeholder, .error textarea::-webkit-input-placeholder {
  color: #fc6b9f; }

.error input::-moz-placeholder, .error textarea::-moz-placeholder {
  color: #fc6b9f; }

.tooltip {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  top: 0;
  z-index: 10000;
  padding: 6px 9px 3px;
  font: 13px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-align: center;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }
  .tooltip.visible {
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .tooltip.left {
    margin-left: 6px; }
  .tooltip.right {
    margin-right: 6px; }
  .tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: auto;
    bottom: -6px;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent;
    display: block;
    width: 0; }
  .tooltip.top:after {
    top: -6px;
    bottom: auto;
    border-width: 0 6px 6px; }
  .tooltip.left:after {
    top: 50%;
    margin-top: -6px;
    left: -6px;
    margin-left: 0;
    bottom: auto;
    border-width: 6px 6px 6px 0;
    border-color: transparent rgba(0, 0, 0, 0.75); }
  .tooltip.right:after {
    top: 50%;
    margin-top: -6px;
    right: -6px;
    bottom: auto;
    left: auto;
    border-width: 6px 0 6px 6px;
    border-color: transparent rgba(0, 0, 0, 0.75); }

a.button {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #868686;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font: 15px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 28px;
  text-decoration: none;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  color: #FFF;
  background: #999999;
  background-color: #ababab;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ababab), to(#868686));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ababab, #868686);
  background-image: -moz-linear-gradient(top, #ababab, #868686);
  background-image: -ms-linear-gradient(top, #ababab, #868686);
  background-image: -o-linear-gradient(top, #ababab, #868686);
  background-image: linear-gradient(top, #ababab, #868686);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  a.button:hover, a.button.hover {
    border-color: #818181;
    background: #949494;
    background-color: #a6a6a6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#818181));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #a6a6a6, #818181);
    background-image: -moz-linear-gradient(top, #a6a6a6, #818181);
    background-image: -ms-linear-gradient(top, #a6a6a6, #818181);
    background-image: -o-linear-gradient(top, #a6a6a6, #818181);
    background-image: linear-gradient(top, #a6a6a6, #818181); }
  a.button:active, a.button.active {
    border-color: #949494;
    background: #949494; }
  a.button.icon {
    width: 28px; }
    a.button.icon.settings .icon {
      background: url(/images/settings-icon.png) no-repeat;
      top: 4px; }
    a.button.icon.appearance .icon {
      background: url(/images/appearance-icon.png) no-repeat;
      height: 26px;
      top: 12px;
      left: 0px; }
  a.button.green {
    color: white;
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #00cf4b;
    background: #00d963;
    background-color: #00e279;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00e279), to(#00cf4b));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #00e279, #00cf4b);
    background-image: -moz-linear-gradient(top, #00e279, #00cf4b);
    background-image: -ms-linear-gradient(top, #00e279, #00cf4b);
    background-image: -o-linear-gradient(top, #00e279, #00cf4b);
    background-image: linear-gradient(top, #00e279, #00cf4b); }
    a.button.green:hover, a.button.green.hover {
      border-color: #00c547;
      background: #00cf5e;
      background-color: #00d874;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#00d874), to(#00c547));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #00d874, #00c547);
      background-image: -moz-linear-gradient(top, #00d874, #00c547);
      background-image: -ms-linear-gradient(top, #00d874, #00c547);
      background-image: -o-linear-gradient(top, #00d874, #00c547);
      background-image: linear-gradient(top, #00d874, #00c547); }
    a.button.green:active, a.button.green.active {
      border-color: #00cf5e;
      background: #00cf5e; }
  a.button.lightgrey {
    color: #868686;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 white;
    -o-text-shadow: 0 1px 0 white;
    text-shadow: 0 1px 0 white;
    border-color: #dfdfdf;
    background: #e6e6e6;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#dfdfdf));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ececec, #dfdfdf);
    background-image: -moz-linear-gradient(top, #ececec, #dfdfdf);
    background-image: -ms-linear-gradient(top, #ececec, #dfdfdf);
    background-image: -o-linear-gradient(top, #ececec, #dfdfdf);
    background-image: linear-gradient(top, #ececec, #dfdfdf); }
    a.button.lightgrey:hover, a.button.lightgrey.hover {
      border-color: #dadada;
      background: #e1e1e1;
      background-color: #e7e7e7;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#dadada));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #e7e7e7, #dadada);
      background-image: -moz-linear-gradient(top, #e7e7e7, #dadada);
      background-image: -ms-linear-gradient(top, #e7e7e7, #dadada);
      background-image: -o-linear-gradient(top, #e7e7e7, #dadada);
      background-image: linear-gradient(top, #e7e7e7, #dadada); }
    a.button.lightgrey:active, a.button.lightgrey.active {
      border-color: #e1e1e1;
      background: #e1e1e1; }
  a.button.twitter {
    color: white;
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #018fc5;
    background: #02abd6;
    background-color: #05bfe0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#05bfe0), to(#018fc5));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #05bfe0, #018fc5);
    background-image: -moz-linear-gradient(top, #05bfe0, #018fc5);
    background-image: -ms-linear-gradient(top, #05bfe0, #018fc5);
    background-image: -o-linear-gradient(top, #05bfe0, #018fc5);
    background-image: linear-gradient(top, #05bfe0, #018fc5); }
    a.button.twitter:hover, a.button.twitter.hover {
      border-color: #0188bb;
      background: #02a3cc;
      background-color: #05b6d6;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#05b6d6), to(#0188bb));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #05b6d6, #0188bb);
      background-image: -moz-linear-gradient(top, #05b6d6, #0188bb);
      background-image: -ms-linear-gradient(top, #05b6d6, #0188bb);
      background-image: -o-linear-gradient(top, #05b6d6, #0188bb);
      background-image: linear-gradient(top, #05b6d6, #0188bb); }
    a.button.twitter:active, a.button.twitter.active {
      border-color: #02a3cc;
      background: #02a3cc; }
  a.button.facebook {
    color: white;
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #203591;
    background: #334fab;
    background-color: #5673c0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5673c0), to(#203591));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #5673c0, #203591);
    background-image: -moz-linear-gradient(top, #5673c0, #203591);
    background-image: -ms-linear-gradient(top, #5673c0, #203591);
    background-image: -o-linear-gradient(top, #5673c0, #203591);
    background-image: linear-gradient(top, #5673c0, #203591); }
    a.button.facebook:hover, a.button.facebook.hover {
      border-color: #1e3289;
      background: #314ba3;
      background-color: #4f6dbd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4f6dbd), to(#1e3289));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #4f6dbd, #1e3289);
      background-image: -moz-linear-gradient(top, #4f6dbd, #1e3289);
      background-image: -ms-linear-gradient(top, #4f6dbd, #1e3289);
      background-image: -o-linear-gradient(top, #4f6dbd, #1e3289);
      background-image: linear-gradient(top, #4f6dbd, #1e3289); }
    a.button.facebook:active, a.button.facebook.active {
      border-color: #314ba3;
      background: #314ba3; }
  a.button.google {
    color: white;
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #cf3023;
    background: #dc4937;
    background-color: #e56d5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e56d5b), to(#cf3023));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e56d5b, #cf3023);
    background-image: -moz-linear-gradient(top, #e56d5b, #cf3023);
    background-image: -ms-linear-gradient(top, #e56d5b, #cf3023);
    background-image: -o-linear-gradient(top, #e56d5b, #cf3023);
    background-image: linear-gradient(top, #e56d5b, #cf3023); }
    a.button.google:hover, a.button.google.hover {
      border-color: #c62e22;
      background: #da412e;
      background-color: #e46552;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e46552), to(#c62e22));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #e46552, #c62e22);
      background-image: -moz-linear-gradient(top, #e46552, #c62e22);
      background-image: -ms-linear-gradient(top, #e46552, #c62e22);
      background-image: -o-linear-gradient(top, #e46552, #c62e22);
      background-image: linear-gradient(top, #e46552, #c62e22); }
    a.button.google:active, a.button.google.active {
      border-color: #da412e;
      background: #da412e; }
  a.button.disabled, a.button.disabled:hover, a.button.disabled:active {
    cursor: default;
    color: #FFF;
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-color: #adadad;
    background: #bfbfbf; }
  a.button .icon {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    left: -7px;
    margin-top: -7px;
    margin-right: -2px; }
    a.button .icon img {
      display: block;
      width: 20px;
      height: 20px; }
  a.button .small-arrow {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    top: -2px;
    left: 4px;
    margin-right: 4px;
    width: 7px;
    height: 5px;
    background: url(/images/arrow-down-small.png) no-repeat; }

#topbar {
  height: 40px;
  position: absolute;
  z-index: 1;
  width: 100%; }
  #topbar .inner {
    height: 100%; }
    #topbar .inner > .left, #topbar .inner > .right {
      margin: 0;
      list-style: none; }
      #topbar .inner > .left > li, #topbar .inner > .right > li {
        float: left;
        margin-top: 6px; }
    #topbar .inner > .left, #topbar .inner > .right, #topbar .inner > .center {
      position: absolute;
      top: 0;
      height: 100%; }
    #topbar .inner > .left {
      z-index: 1;
      left: 0;
      padding-left: 6px; }
      #topbar .inner > .left > li {
        margin-right: 6px; }
    #topbar .inner > .right {
      z-index: 1;
      right: 0;
      padding-right: 6px; }
      #topbar .inner > .right > li {
        float: right;
        margin-left: 6px; }
    #topbar .inner > .center {
      left: 0;
      height: 100%;
      width: 100%; }
      #topbar .inner > .center .center-outer {
        float: left;
        position: relative;
        left: 50%; }
        #topbar .inner > .center .center-outer .center-inner {
          float: left;
          position: relative;
          left: -50%; }

.edit #topbar {
  position: fixed;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
  .edit #topbar .inner {
    background-color: #e7e6e7;
    background-color: #eeedee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeedee), to(#e1e0e1));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -moz-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -ms-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -o-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: linear-gradient(top, #eeedee, #e1e0e1); }
  .edit #topbar .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .edit #topbar .button.icon {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
    .edit #topbar .button.disabled {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }

.popupbutton {
  position: relative; }
  .popupbutton.open {
    z-index: 1; }
    .popupbutton.open > .button, .popupbutton.open > .button:hover {
      z-index: 1;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -ms-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      background: #FFF;
      background-color: #a4a4a4;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#d5d4d5));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #a4a4a4, #d5d4d5);
      background-image: -moz-linear-gradient(top, #a4a4a4, #d5d4d5);
      background-image: -ms-linear-gradient(top, #a4a4a4, #d5d4d5);
      background-image: -o-linear-gradient(top, #a4a4a4, #d5d4d5);
      background-image: linear-gradient(top, #a4a4a4, #d5d4d5);
      border: none;
      padding: 1px 11px; }
    .popupbutton.open .popup {
      display: block; }
  .popupbutton.right .popup {
    right: 0; }

.popup {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #D5D4D5;
  text-align: left;
  font: 15px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #868686;
  background: white;
  top: 26px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }
  .popup > p {
    margin-bottom: 13px; }
  .popup > ul.hlist, .popup > ul.vlist {
    list-style: none;
    margin: 2px; }
  .popup > ul.hlist {
    display: inline-block; }
    .popup > ul.hlist li {
      float: left;
      margin-left: 5px; }
    .popup > ul.hlist li:first-child {
      margin-left: 0; }
  .popup > ul.vlist li .button {
    float: none;
    width: 100%;
    height: 24px;
    line-height: 23px;
    background: transparent;
    border: none;
    color: #868686;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none; }
    .popup > ul.vlist li .button:hover, .popup > ul.vlist li .button.hover {
      color: #FFF;
      -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      border-top: 1px solid #00cf4b;
      line-height: 22px;
      background: #00d963;
      background-color: #00e279;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#00e279), to(#00cf4b));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #00e279, #00cf4b);
      background-image: -moz-linear-gradient(top, #00e279, #00cf4b);
      background-image: -ms-linear-gradient(top, #00e279, #00cf4b);
      background-image: -o-linear-gradient(top, #00e279, #00cf4b);
      background-image: linear-gradient(top, #00e279, #00cf4b); }
    .popup > ul.vlist li .button:active, .popup > ul.vlist li .button.active {
      border-color: #00cf5e;
      background: #00cf5e; }
  .popup header {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #e7e6e7;
    background-color: #eeedee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeedee), to(#e1e0e1));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -moz-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -ms-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -o-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: linear-gradient(top, #eeedee, #e1e0e1); }
    .popup header h1 {
      height: 100%;
      width: 100%;
      text-align: center;
      color: #9b9b9b;
      font: bold 24px/52px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
      letter-spacing: 0.03em;
      -moz-text-shadow: 0 1px 0 white;
      -webkit-text-shadow: 0 1px 0 white;
      -o-text-shadow: 0 1px 0 white;
      text-shadow: 0 1px 0 white; }
    .popup header a.close {
      position: absolute;
      top: 14px;
      right: 14px;
      width: 24px;
      height: 24px;
      background-image: url(/images/popup-close.png); }
  .popup fieldset {
    border: 1px solid #d5d4d5;
    margin: 20px; }
    .popup fieldset legend {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      margin-left: 10px;
      padding: 0 5px;
      font-size: 13px; }
    .popup fieldset > div {
      margin: 8px 15px 15px; }
    .popup fieldset ul.tilelist {
      margin-bottom: 13px; }
    .popup fieldset .input {
      height: 34px;
      border: 1px solid #d5d4d5;
      background: #FFF; }
      .popup fieldset .input .controls {
        line-height: 34px;
        padding: 2px 2px; }
      .popup fieldset .input input[type=text] {
        height: 100%;
        width: 100%;
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
        -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
        -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
        -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07); }
  .popup .hr {
    width: 220px;
    height: 1px;
    margin: 14px auto 20px;
    border-bottom: 1px solid #d5d4d5; }
    .popup .hr span {
      position: relative;
      top: -8px;
      padding: 0 7px;
      line-height: 0;
      background: white; }

#profile .popup {
  min-width: 170px; }
  #profile .popup li .icon {
    background: url(/images/menu-icons.png) 3px 3px no-repeat; }
  #profile .popup .new-page .icon {
    background-position: 3px 3px; }
  #profile .popup .new-page .button:hover .icon, #profile .popup .new-page .button.hover .icon {
    background-position: -27px 3px; }
  #profile .popup .profile .icon {
    background-position: 3px -21px; }
  #profile .popup .profile .button:hover .icon, #profile .popup .profile .button.hover .icon {
    background-position: -27px -21px; }
  #profile .popup .account-settings .icon {
    background-position: 3px -46px; }
  #profile .popup .account-settings .button:hover .icon, #profile .popup .account-settings .button.hover .icon {
    background-position: -27px -46px; }
  #profile .popup .sign-out .icon {
    background-position: 3px -70px; }
  #profile .popup .sign-out .button:hover .icon, #profile .popup .sign-out .button.hover .icon {
    background-position: -27px -70px; }

#publish .popup {
  min-width: 264px;
  text-align: center;
  padding: 16px 0 0; }
  #publish .popup > .button {
    display: inline-block;
    float: none;
    margin-bottom: 7px; }
  #publish .popup footer {
    border-top: 1px solid #d5d4d5;
    background: #edeced;
    height: 30px;
    margin-top: 13px;
    padding: 0 10px;
    line-height: 32px;
    text-align: left;
    font-size: 13px;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 white;
    -o-text-shadow: 0 1px 0 white;
    text-shadow: 0 1px 0 white; }
    #publish .popup footer > a {
      margin-right: 0.6em;
      text-decoration: none;
      border-bottom: 1px dotted #868686; }
      #publish .popup footer > a:hover {
        border-bottom-style: solid; }

#signin .popup {
  min-width: 264px;
  text-align: center;
  padding: 16px 0 10px; }

.modal-overlay {
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); }
  .modal-overlay.active {
    display: table; }
  .modal-overlay .inner {
    display: table-cell;
    vertical-align: middle; }

.modal {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  margin: 0 auto; }

ul.tilelist {
  margin: 0;
  list-style: none; }
  ul.tilelist li {
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px; }
    ul.tilelist li a, ul.tilelist li img {
      display: block;
      width: 100%;
      height: 100%; }
    ul.tilelist li a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: 11px;
      border: 1px solid #d5d4d5; }
      ul.tilelist li a:hover {
        color: #666666;
        border-color: #afadaf; }
  ul.tilelist.row-5 li:nth-child(5n) {
    margin-right: 0; }

#settings .popup, #appearance .popup {
  width: 388px; }

#drop-zone {
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 13px;
  color: #868686;
  -moz-text-shadow: 0 1px 0 white;
  -webkit-text-shadow: 0 1px 0 white;
  -o-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white; }
  #drop-zone header h1 {
    font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #9b9b9b;
    margin-bottom: 6px; }

.notification {
  padding: 0 10px;
  margin-top: 6px;
  font: 15px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #FFFF9A;
  height: 28px; }
  .notification > p {
    line-height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
    .notification > p a {
      margin-left: 0.3em; }

#main {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
  min-height: 100%;
  top: 0;
  background: #FFF; }
  #main > .inner {
    padding-top: 50px;
    padding-bottom: 138px; }

.edit #main > .inner {
  padding-top: 90px;
  padding-bottom: 50px; }

.blocks {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 680px;
  margin: 0 auto;
  background: #FFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

.block {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1px; }
  .block:first-child {
    margin-top: 0; }
  .block .view {
    display: block;
    padding: 9px 9px 9px 9px;
    color: #000; }
    .block .view h1 {
      font-size: 40px;
      padding: 11px 0 7px; }
    .block .view h2 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 8px; }
    .block .view img {
      display: block;
      margin: 0 auto;
      max-width: 640px; }
    .block .view object, .block .view embed {
      display: block; }
  .block .edit {
    position: relative;
    display: none; }
    .block .edit .input {
      height: 48px;
      font-size: 24px; }
      .block .edit .input input[type=text], .block .edit .input textarea {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 10px; }
      .block .edit .input .info, .block .edit .input .controls {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        line-height: 48px;
        padding: 0 10px; }
      .block .edit .input .controls .button {
        margin-top: 10px;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
      .block .edit .input .info {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%; }
        .block .edit .input .info p {
          float: left; }
        .block .edit .input .info .icon {
          float: right; }
        .block .edit .input .info .loading-spinner {
          width: 32px;
          height: 32px;
          margin-top: 8px;
          background: url(/images/input-loading-spinner.gif) no-repeat; }
        .block .edit .input .info .cancel {
          cursor: pointer;
          width: 28px;
          height: 28px;
          margin-top: 10px;
          background: url(/images/input-error-cross.png) no-repeat; }
      .block .edit .input .progress-bar {
        display: none;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100%;
        width: 34%;
        background: #ABAC97;
        background-color: #bebfab;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#bebfab), to(#95967f));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #bebfab, #95967f);
        background-image: -moz-linear-gradient(top, #bebfab, #95967f);
        background-image: -ms-linear-gradient(top, #bebfab, #95967f);
        background-image: -o-linear-gradient(top, #bebfab, #95967f);
        background-image: linear-gradient(top, #bebfab, #95967f); }
      .block .edit .input.error input[type=text], .block .edit .input.error textarea {
        display: none; }
      .block .edit .input.error .info {
        display: block; }
      .block .edit .input.loading input[type=text], .block .edit .input.loading textarea {
        display: none; }
      .block .edit .input.loading .info {
        display: block; }
      .block .edit .input.loading.progress .progress-bar {
        display: block; }
      .block .edit .input.loading.progress .info p {
        float: right; }
  .block.editing .view {
    display: none; }
  .block.editing .edit {
    display: block; }

.edit .block {
  border: 1px solid #d5d4d5; }
  .edit .block.editing:hover {
    border-color: #d5d4d5; }
  .edit .block:hover {
    border-color: #9b9b9b; }

.add-panel {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 202px;
  background: #edeced; }
  .add-panel:first-child {
    margin-top: 0; }
  .add-panel:last-child {
    margin-bottom: 0; }
  .add-panel .inner {
    padding: 44px 0  0 45px; }
  .add-panel ul.big {
    margin: 0;
    list-style: none; }
    .add-panel ul.big > li {
      position: relative;
      width: 90px;
      float: left;
      margin-left: 30px;
      text-align: center;
      font: bold 18px VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
      color: #9b9b9b;
      -moz-text-shadow: 0 1px 0 white;
      -webkit-text-shadow: 0 1px 0 white;
      -o-text-shadow: 0 1px 0 white;
      text-shadow: 0 1px 0 white;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .add-panel ul.big > li:first-child {
        margin-left: 0; }
      .add-panel ul.big > li > .button {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 90px;
        text-indent: -9999px;
        overflow: hidden;
        margin-bottom: 9px;
        padding: 0; }
        .add-panel ul.big > li > .button .big-icon {
          display: block;
          width: 100%;
          height: 100%; }
        .add-panel ul.big > li > .button .medium-arrow {
          display: block;
          position: absolute;
          right: 6px;
          bottom: 6px;
          width: 11px;
          height: 7px;
          background: url(/images/arrow-down-medium.png) no-repeat; }
      .add-panel ul.big > li > span {
        cursor: pointer; }
      .add-panel ul.big > li.text .big-icon {
        background: url(/images/add-button-text.png) no-repeat; }
      .add-panel ul.big > li.photo .big-icon {
        background: url(/images/add-button-image.png) no-repeat; }
      .add-panel ul.big > li.video .big-icon {
        background: url(/images/add-button-video.png) no-repeat; }
      .add-panel ul.big > li.link .big-icon {
        background: url(/images/add-button-link.png) no-repeat; }
      .add-panel ul.big > li.app .big-icon {
        background: url(/images/add-button-app.png) no-repeat; }
  .add-panel .popup {
    display: none;
    top: 94px;
    left: -12px;
    min-width: 120px; }
  .add-panel li.open .popup {
    display: block; }

body > footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  width: 680px;
  height: 98px;
  overflow: hidden;
  clear: both;
  margin: -98px auto 0;
  background: #FFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }
  body > footer .info a {
    text-decoration: none; }
  body > footer .info img {
    float: left;
    width: 48px;
    height: 48px; }
  body > footer .info > div {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    font: 13px Arial, sans-serif; }
    body > footer .info > div h4 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 3px; }
    body > footer .info > div p {
      clear: both; }
      body > footer .info > div p > span, body > footer .info > div p > a {
        opacity: 0.5; }
      body > footer .info > div p > a {
        margin-left: 6px; }
        body > footer .info > div p > a:hover {
          opacity: 1; }
    body > footer .info > div svg {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative; }
  body > footer nav {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    height: 30px;
    width: 100%;
    background-color: #e7e6e7;
    background-color: #eeedee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeedee), to(#e1e0e1));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -moz-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -ms-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: -o-linear-gradient(top, #eeedee, #e1e0e1);
    background-image: linear-gradient(top, #eeedee, #e1e0e1);
    font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 15px;
    color: #868686;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 white;
    -o-text-shadow: 0 1px 0 white;
    text-shadow: 0 1px 0 white; }
    body > footer nav > ul {
      list-style: none; }
      body > footer nav > ul > li {
        line-height: 32px;
        float: left;
        margin-right: 10px; }
        body > footer nav > ul > li a {
          color: inherit;
          text-decoration: none; }
          body > footer nav > ul > li a:hover {
            color: #666666; }
    body > footer nav > p {
      float: right;
      line-height: 32px; }

.logo-small {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  width: 63px;
  height: 13px;
  top: 1px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/images/logo-small.png) no-repeat; }
  .logo-small:hover {
    background-position: 0 -20px; }

#main {
  background: #f4f4f4; }

.blocks {
  background: white; }

.block .view h1, .block .view h2, .block .view h3, .block .view h4, .block .view p {
  color: #333333; }

footer {
  background: white; }
  footer .info h4, footer .info p {
    color: #333333; }
  footer .info svg .shape {
    fill: #333333; }

/* VARIABLES
---------------------------------------- */
/* TYPO
---------------------------------------- */
@font-face {
  font-family: VAG;
  src: url("../fonts/vagroundedstd-light-webfont.eot?") format("eot"), url("../fonts/vagroundedstd-light-webfont.woff") format("woff"), url("../fonts/vagroundedstd-light-webfont.svg#webfont8iD52QlC") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: VAG;
  src: url("../fonts/vagroundedstd-bold-webfont.eot?") format("eot"), url("../fonts/vagroundedstd-bold-webfont.woff") format("woff"), url("../fonts/vagroundedstd-bold-webfont.svg#webfontqSBlTWnG") format("svg");
  font-weight: bold;
  font-style: normal; }

h1.main_title {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1em;
  font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #75de67; }

h2.sub_title {
  font-size: 18px;
  padding: 0;
  line-height: 1.4em;
  font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #a6a6a6;
  margin-bottom: 15px; }

/* SNIPPETS
---------------------------------------- */
@-webkit-keyframes popsup {
  0% {
    opacity: 0; }

  30% {
    -webkit-transform: scale(1.2);
    opacity: 0.5; }

  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

.alpha {
  padding-left: 0  !important; }

.omega {
  padding-right: 0  !important; }

/* UTILS
---------------------------------------- */
.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.separator {
  margin: 40px 0 10px;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 82%; }
  .separator span {
    position: relative;
    top: -12px;
    background: #fff;
    padding: 5px; }

/* FORM */
.field {
  margin-bottom: 15px; }

label {
  display: block;
  margin-bottom: 3px; }
  label.inline {
    display: inline;
    margin-left: 4px; }

input[type="checkbox"] {
  vertical-align: middle; }

.input {
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 1px solid #D5D4D5; }

input[type="text"] {
  padding: 0 10px;
  font-weight: normal;
  font-size: 14px;
  font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  padding: 4px 10px 0; }

.input {
  -webkit-box-shadow: 0 1px 1px 0px #ccc inset;
  -moz-box-shadow: 0 1px 1px 0px #ccc inset;
  -ms-box-shadow: 0 1px 1px 0px #ccc inset;
  -o-box-shadow: 0 1px 1px 0px #ccc inset;
  box-shadow: 0 1px 1px 0px #ccc inset; }

a.button.icon .icon {
  background: url(images/settings-icon.png) no-repeat;
  top: 4px; }

.toolip {
  display: block; }

/* FLASH NOTICES */
.notice {
  padding: 15px;
  padding-right: 45px;
  background: #cccccc;
  color: #999999;
  -webkit-text-shadow: 0 1px 1px white;
  -moz-text-shadow: 0 1px 1px white;
  -ms-text-shadow: 0 1px 1px white;
  -o-text-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  position: relative;
  bottom: 10px;
  /*Compensate content top border*/ }
  .notice.error {
    background: #f2d2e4 url("../images/notices/notice-error-bg.png") no-repeat center right;
    color: #db83b5; }

/* LAYOUT
---------------------------------------- */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #a6a6a6;
  font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }

.main {
  margin: 0;
  display: table;
  width: 680px;
  margin: 0 auto;
  height: 100%;
  background: white;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f4f4f4));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, white, #f4f4f4);
  background-image: -moz-linear-gradient(top, white, #f4f4f4);
  background-image: -ms-linear-gradient(top, white, #f4f4f4);
  background-image: -o-linear-gradient(top, white, #f4f4f4);
  background-image: linear-gradient(top, white, #f4f4f4);
  /* This was the only way to get the brown part at the bottom and white on top */ }

.inner {
  display: table-cell;
  min-height: 100%;
  vertical-align: middle; }
  .inner .content {
    border-top: 10px solid #f4f4f4;
    margin-top: -10px;
    /* compensate the border as Fred wants is outside the box */
    padding: 30px 10px 0;
    position: relative;
    font-size: 14px;
    background: white; }

/* CONTENTS
---------------------------------------- */
.big_arrow {
  width: 125px;
  margin: 0 30px 10px 20px; }

.block.right {
  /* 485px */
  width: 485px;
  padding: 0 20px 30px 0px; }

/* FOOTER
---------------------------------------- */
.actions {
  -webkit-text-shadow: 0 1px 1px white;
  -moz-text-shadow: 0 1px 1px white;
  -ms-text-shadow: 0 1px 1px white;
  -o-text-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  border-top: 2px solid #c2ccc2;
  background-color: #d2ddd2;
  padding: 17px 17px 17px 185px;
  margin: 0 -10px; }
  .actions .button {
    margin-right: 15px; }
    .actions .button.lightgrey, .actions .button.lightgrey:hover {
      border: 1px solid #ccc; }

.auth_services a {
  margin-right: 10px; }

.copyright {
  float: right;
  color: #839383;
  padding-top: 5px; }

/* HOMEPAGE SPECIFIC */
#homepage {
  background-color: #FFF; }
  #homepage .main {
    background: none;
    width: 100%; }
  #homepage .top_nav {
    display: table-row; }
    #homepage .top_nav .arrow_button {
      margin-right: 10px;
      position: relative;
      top: 2px;
      left: -2px; }
    #homepage .top_nav .inner_nav {
      display: table-cell;
      padding: 6px; }
    #homepage .top_nav .right {
      padding-top: 4px; }
    #homepage .top_nav ul {
      font-size: 14px;
      list-style-type: none; }
      #homepage .top_nav ul, #homepage .top_nav ul li {
        padding: 5px;
        display: inline; }
  #homepage .inner {
    display: table-row; }
  #homepage .content {
    display: table-cell;
    background: white url("../images/homepage/bg-homepage.jpg") no-repeat center 40%;
    vertical-align: middle;
    text-align: center;
    border: none;
    padding: 0; }
    #homepage .content h1 {
      font-size: 45.99px;
      margin-bottom: 6px; }
    #homepage .content h2 {
      margin-bottom: 160px;
      font-weight: normal; }
    #homepage .content .button.page_new {
      float: none;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 18px;
      height: 44px;
      line-height: 44px;
      -webkit-box-sizing: content-box;
      /* This allows vertical centering text */
      -moz-box-sizing: content-box;
      /* This allows vertical centering text */
      background-color: #7ce781;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#7ce781), to(#72d751));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #7ce781, #72d751);
      background-image: -moz-linear-gradient(top, #7ce781, #72d751);
      background-image: -ms-linear-gradient(top, #7ce781, #72d751);
      background-image: -o-linear-gradient(top, #7ce781, #72d751);
      background-image: linear-gradient(top, #7ce781, #72d751);
      border: 5px solid #edeced;
      font-weight: bold;
      padding: 0 30px;
      -webkit-animation: popsup 1s; }
    #homepage .content .quote_line {
      font-size: 16px;
      font-family: Georgia;
      color: #cdcdcd;
      margin: 0 0 125px 0;
      display: block;
      text-align: center; }
      #homepage .content .quote_line span {
        font-size: 13px;
        display: block;
        font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
  #homepage .features {
    display: table;
    background: #fff;
    width: 1016px;
    margin: 0 auto 30px; }
    #homepage .features .feature {
      font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
      display: table-cell;
      width: 264px;
      font-size: 13px;
      padding: 20px; }
      #homepage .features .feature .feature_icon {
        float: right;
        margin: 0 0 20px 20px;
        width: 50px;
        height: 50px;
        background: transparent url("../images/icons/feature-sprite.png") no-repeat; }
        #homepage .features .feature .feature_icon.user {
          background-position: top center; }
        #homepage .features .feature .feature_icon.gear {
          background-position: center center; }
        #homepage .features .feature .feature_icon.dropbox {
          background-position: bottom center; }
      #homepage .features .feature h3 {
        font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        font-size: 18px;
        font-weight: normal; }
  #homepage .carousel_wrapper {
    background: #333;
    height: 141px;
    overflow: hidden;
    display: table-row; }
    #homepage .carousel_wrapper .carousel_inner {
      display: table-cell;
      width: 29000px;
      height: 141px;
      position: absolute; }
      #homepage .carousel_wrapper .carousel_inner .project {
        float: left;
        -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .2s ease-in; }
        #homepage .carousel_wrapper .carousel_inner .project .description {
          display: none;
          font-weight: bold;
          text-align: center;
          font-size: 12px; }
          #homepage .carousel_wrapper .carousel_inner .project .description .counters {
            font-weight: normal; }
            #homepage .carousel_wrapper .carousel_inner .project .description .counters span.views {
              margin-right: 15px;
              padding-left: 20px;
              background: transparent url("../images/icons/eye-icon.png") no-repeat 1px 1px; }
        #homepage .carousel_wrapper .carousel_inner .project:hover {
          background: #fff;
          padding: 10px;
          position: relative;
          top: -64px;
          -webkit-transform: scale(1.2);
          -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255, 255, 255, 0.8))); }
          #homepage .carousel_wrapper .carousel_inner .project:hover img {
            -webkit-box-reflect: none; }
          #homepage .carousel_wrapper .carousel_inner .project:hover .description {
            display: block; }
      #homepage .carousel_wrapper .carousel_inner img {
        height: 90px;
        -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255, 255, 255, 0.4))); }

.modal-overlay {
  position: fixed;
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); }
  .modal-overlay.active {
    display: table; }
  .modal-overlay .inner {
    display: table-cell;
    vertical-align: middle; }

.modal {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  margin: 0 auto; }

ul.tilelist {
  margin: 0;
  list-style: none; }
  ul.tilelist li {
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px; }
    ul.tilelist li a, ul.tilelist li img {
      display: block;
      width: 100%;
      height: 100%; }
    ul.tilelist li a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: 11px;
      border: 1px solid #d5d4d5; }
      ul.tilelist li a:hover {
        color: #666666;
        border-color: #afadaf; }
  ul.tilelist.row-5 li:nth-child(5n) {
    margin-right: 0; }

#settings .popup, #appearance .popup {
  width: 388px; }

/* BORIS STYLES */
.borderless {
  border: none!important; }

.close {
  font-size: 45px;
  color: #ccc;
  display: block;
  text-decoration: none;
  height: auto;
  top: -3px !important; }

.inner_modal {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #b6b6b6;
  position: relative; }
  .inner_modal.align_left {
    text-align: left; }
  .inner_modal h2 {
    font-size: 32px;
    font-family: VAG, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
    .inner_modal h2.crossing_title {
      font-size: 14px;
      background-color: #FFF;
      position: relative;
      font-weight: normal;
      top: -28px;
      left: -5px;
      /*compensate the padding*/
      padding: 0 5px;
      display: inline; }
  .inner_modal p {
    margin-bottom: 15px; }
  .inner_modal header {
    background: none; }
  .inner_modal .modal_content {
    border: 1px solid #e1e1e1;
    padding: 20px; }
    .inner_modal .modal_content.top_block {
      margin-bottom: 20px; }
  .inner_modal .stats {
    font-size: 37px;
    margin-bottom: 20px; }
    .inner_modal .stats .column {
      float: left;
      margin: auto;
      background-color: #7ce782;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#7ce782), to(#71d74f));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #7ce782, #71d74f);
      background-image: -moz-linear-gradient(top, #7ce782, #71d74f);
      background-image: -ms-linear-gradient(top, #7ce782, #71d74f);
      background-image: -o-linear-gradient(top, #7ce782, #71d74f);
      background-image: linear-gradient(top, #7ce782, #71d74f);
      -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      color: #fff;
      font-weight: bold;
      width: 108px;
      border: 1px solid #71d74f;
      padding: 10px 0; }
      .inner_modal .stats .column.alpha {
        margin: 0 7px 0 0; }
      .inner_modal .stats .column.omega {
        margin: 0 0 0 7px; }
    .inner_modal .stats span {
      display: block; }
    .inner_modal .stats .stat_label {
      font-size: 14px; }

.inner_modal.likethis .modal_content {
  padding: 0; }
.inner_modal.likethis h2 {
  font-size: 18px  !important;
  margin-bottom: 16px; }
.inner_modal.likethis .field {
  color: #cfcfcf; }
  .inner_modal.likethis .field .clear {
    margin-bottom: 5px; }
  .inner_modal.likethis .field span {
    padding-left: 10px; }
  .inner_modal.likethis .field .inline_action {
    padding: 5px 0 0 63px; }
    .inner_modal.likethis .field .inline_action label {
      color: #999; }
.inner_modal.likethis .post_on.twitter {
  color: #769bb0; }
.inner_modal.likethis .post_on.facebook {
  color: #313b6b; }

.addthis_toolbox {
  margin-bottom: 15px; }
  .addthis_toolbox a {
    margin-right: 12px; }
